*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: 'Lexend Deca', sans-serif;
}

.box1{
    background-color:hsl(31, 77%, 52%);
    border-top-left-radius: 15px;
    border-bottom-left-radius:15px;
}
.box2{
    background-color:hsl(184, 100%, 22%);
}
.box3{
    background-color:hsl(179, 100%, 13%);
    border-top-right-radius: 15px;
    border-bottom-right-radius:15px;
}
.box1, .box2, .box3{
    width:400px;
    padding:50px 40px;
}
.container{
    display:flex;
    justify-content: center;
     margin-top:25px;
    
}
img {
    /* padding:20px; */
    margin-bottom:2rem;
    width:100px;
}
h2{
    /* padding:25px; */
    color: white;
    font-family: 'Big Shoulders Display', cursive;
    font-size:3rem;
    margin-bottom:1rem;
}
p{
    /* flex-wrap:wrap; */
    /* padding-left:25px;
    padding-right:25px; */
    /* padding-bottom:50px; */
    color: white;
    font-size:15px;

}


.a{
    background-color:white;
 width:fit-content; 
    /* margin-left:25px; */
    /* margin-bottom:40px; */
    border-radius:15px;
    padding: 15px 30px;
    margin-top:50px;
} 
 a{
    text-decoration:none;
    /* padding:30px; */
    font-size:1.2rem;

}
.button1{
   color:chocolate;
}
.button2{
    color:#006064;
 }
 .button3{
    color:#004d40;
 }
 .attribution{
    background:chocolate;
    width:fit-content;
    margin-top: 200px; 
    padding:20px;
    margin:300px;
 }
 /* @media screen and (max-width:800px){
    .container{
        flex-direction:column;
    }
    .box1{
        background-color:purple;
    }
    .box2{
        background-color:rgb(151, 8, 8);
    }
    .box3{
        background-color:rgb(110, 110, 4);
    } 
}  */
 @media screen and (max-width:960px){
    .container{
        flex-direction:column;
        align-items:center;
    }
    .box1{
        border-top-right-radius:15px;
        border-top-left-radius:15px;
        border-bottom-left-radius:0px;
    }
    .box3{
        border-bottom-right-radius:15px;
        border-bottom-left-radius:15px;
        border-top-right-radius: 0px;
    }
    .p{
        /* flex-wrap:wrap; */
        /* width:50%; */
    }
    }

    @media screen and (max-width:921px){
        .container{
            flex-direction:column;
        }
        .p{
            /* flex-wrap:wrap;  */
             width:50%;
        }
        }


@media screen and (max-width:580px){
    .container{
        flex-direction:column;
    }
    .box1{
        background-color:purple;
    }
    .box2{
        background-color:rgb(151, 8, 8);
    }
    .box3{
        background-color:rgb(110, 110, 4);
    } 
    }
   

